.delinventory-container{
  padding: 1rem;
}

.dialog-content {
    /* margin-left: 240px; or however wide your sidebar + padding is */
    padding: 0;
    transition: margin-left 0.3s ease-in-out;
  }