.delinventory-container{
  padding: 1rem;
}

.main-content {
    margin-left: 240px; /* or however wide your sidebar + padding is */
    padding: 1rem;
    transition: margin-left 0.3s ease-in-out;
  }